@import "tailwindcss";

@font-face {
    font-family: "JetBrains Mono";
    src: url("/font/JetBrainsMono-Regular.ttf") format("truetype");
    font-weight: normal;
    /* Regular weight */
    font-style: normal;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("/font/JetBrainsMono-Bold.ttf") format("truetype");
    font-weight: bold;
    /* Bold weight */
    font-style: normal;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("/font/JetBrainsMono-Light.ttf") format("truetype");
    font-weight: 300;
    /* Medium weight */
    font-style: normal;
}

body {
    font-family: 'JetBrains Mono', monospace;
}

/* 隐藏全局滚动条 - webkit浏览器 */
::-webkit-scrollbar {
    display: none;
}

/* 隐藏全局滚动条 - Firefox */
* {
    scrollbar-width: none;
}

/* 隐藏全局滚动条 - IE和Edge */
* {
    -ms-overflow-style: none;
}